header {
  min-height:70px;
  border-bottom: 1rem solid #041d88;
  overflow: hidden;
}

.navbar-brand, .nav-link {
  color: #000;
  font-weight:bold;
}
.navbar-nav {
  color: #000;
}
.nav a:hover {
  background:rgb(10, 2, 117);
  /* color: rgb(15, 3, 70); */
}
.nav-item {
  border: 15px 15px 15px 15px;
  padding: 2px;
  margin: 0px auto;
}
/* 
.navbar-expand-sm .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.navbar-expand-sm .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
} */


.navbar-expand-sm .container ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.navbar-expand-sm .container ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

/* .navbar-expand-sm .container .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
About
Portfolio
Services
Contact-Me

  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
} */
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}



.sticky {
  position: fixed;
  top: 0;
  width:100%;
}
.sticky + .row {
  padding-top: 100px;
}

.container {
  text-align: center;
  width:80%;
  margin:auto;
  overflow:hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* * {
  box-sizing: border-box;
} */
html {
	scroll-behavior: smooth;
}

#showcase{
  padding-top: 5px;
  min-height:500px;
  background: url('/home/net/MORYSO/JAVASCRPIT/my js/my_site/images/showcase.jpg') no-repeat 0 -500px;
  text-align:center;
  color: #ffffff;
  border: darkblue;
}

#showcase h1 {
  text-transform:uppercase;
  margin-top:15%;
  font-size:55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size:20px;
}

#about {
  margin: 5% 0 8% 0;
  list-style: none;
}
#about h2 {
  display: inline-block;
  text-align: left;
  margin-left: 25%;
  text-transform:uppercase;
  text-decoration: underline;
  /* border-bottom:thick solid #020338; */
  text-decoration-color: rgb(10, 2, 117);
  padding: 10px 10px 10px 1.5rem;
  font-size:15px;
  font-weight: bold;
  color: rgb(1, 2, 29);
}
#about .img-responsive {
  float: left;
  width: 25%;
  margin: 0 0 2% 25% ;
  padding: 10px;
}
article #about-col{
  float:left;
  width:65%;
}
aside #sidebar {
  float:right;
  width:10%;
  /* margin:5% 60% 10px 5%; */
}

aside .dark {
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin:3% 25% 5px 50%;
}

#main {
  margin-top:10px;
  background-color: rgb(247, 244, 250);
}

#main .page-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #210177;
}
#main h2 {
  color: #000;
}
#main .box{
  float:left;
  text-align: center;
  width:50%;
  padding:10px;
}

#main .box img{
  width:80%;
  padding-bottom: 5px;
}


body {
  overflow-x: hidden;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  /* background: black; */
  /* background-image: url('bg/image29.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.main {
  margin: 2% 0 2% 0;
  max-width: fit-content;
  background-color: #ffffff;
  background-image: url("/home/net/MORYSO/JAVASCRPIT/my js/my_site/bg/back10.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main h2 {
  margin-top: 2%;
  text-align: center;
  font: 55px bold Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(2, 2, 34);
}
.main h3 {
  text-align: center;
  font: 35px cursive lighter;
  color: rgb(70, 3, 114);
  margin: 2% 30% 2% 40%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.row,
.row > .column {
  padding: 10px;
}
.column {
  width: 33.33%;
  padding: 5px;
  margin: 0 5% 0 5%;
  flex: 33.33%;
  display: inline-block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  display: inline-block;
  padding: 10px;
}
.row .my-img {
  width: 350px;
  height: 250px;
  /* object-fit: cover; */
} 

/* @media screen and (max-width: 960px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */

#org {
  margin: 5% 0% 5% 0%;
  color: #000000;
  background-image: url("/home/net/MORYSO/JAVASCRPIT/my js/my_site/images/organizations.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#org .clear {
  color: rgb(41, 5, 124);
  font: 20px Arial, Helvetica, sans-serif;
  font-weight: bold;
  /* font-family: Arial, Helvetica, sans-serif; */
}

#org h1 {
  text-align: left;
  margin: 2% 5% 2% 10%;
  font-size:40px;
  font-weight: bold;
}

.circle {
  background: url("/home/net/MORYSO/JAVASCRPIT/my js/my_site/bg/back10.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgb(221, 241, 247);
  color: rgb(0, 1, 3);
  border:10px solid rgb(87, 82, 90);    
  height:30rem;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:45rem;
  margin: 8% 20% 8% 20%;
  font-weight: bolder;
}

#achieve {
  margin: 12% 5% 1% 25%;
}
#achieve h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  /* color: #000; */
  color:  #210177;
}
/* #achieve .meta-class {
  color: #ffffff;
} */

/* * {box-sizing:border-box}

/* Slideshow container */
/* .slideshow-container {
  width: 600px;
  height: 450px;
  /* max-width: 1000px; */
  /* position: sticky; */
  /* margin: auto;
  overflow: hidden;
  top: 0;
  z-index: 1;
} */ */
/* .slideshow-container .mySlides fade {
  position: sticky;
  margin: auto;
  overflow-y: hidden;
}
.slideshow-container .prev .next {
  overflow: hidden;
  position: -webkit-sticky;
} */

/* Hide the images by default */
/* .mySlides {
  display: -webkit-inline-flex;
} */

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

/* .active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
} */
/* 
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

/* @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

#contact h1 {
  text-align: right;
  font-weight: bold;
  margin: 0 0 0 50%;
}

label[for=name], [for=Message], [for=email] {
  color: #ffffff;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 0 20px 0;
  background-color: rgb(204, 194, 241);
  border: 1px solid rgb(10, 10, 10);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px 0 16px 0;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(59, 2, 65);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #040108;
}

.container2 {
  margin: 2% 5% 2% 5%;
  border-radius: 5px;
  background: url("/home/net/MORYSO/JAVASCRPIT/my js/my_site/images/image29.jpg");
  padding: 20px;
}

#newsletter{
  margin: 2% 0 2% 0;
  padding:15px;
  color:#ffffff;
  background:#00070c
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
.button_1 {
  height:38px;
  background:#022150;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
.button_1:hover {
  background-color: navy;
}

.footer {
  position: initial;
  left: 0;
  font:80% bold Verdana, Geneva, sans-serif ;
  clear: both;
  padding: 1rem;
  bottom: 0%;
  width: 100%;
  background-color: rgb(2, 2, 17);
  text-align: center;
}
.footer h1 {
  color: #f4f4f4;
  font-size: 1.5rem;
}

.footer .row {
  overflow-y: hidden;
  position: -webkit-sticky;
}

.fa {
  display: inline;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0px 10px;
  color: rgb(236, 235, 245);
  transition: all 0.3s ease;
  border-radius: 50%;
}
.fa .Follow {
  text-align: left;
}
.fa-twitter {
  background: #007bb5;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #007bb5;
}
.fa-instagram {
  background-color: inherit;
}
.fa-dev {
  background-color: rgb(2, 0, 8);
  color: aqua;
}

.fa:hover {
    opacity: 0.7;
}
.footer2 {
  border-top: 1px solid rgb(255, 253, 253);
  padding-top: 1%;
}
.footer2 .white {
  color: rgb(253, 253, 253);
}

/* Media Queries */
/* @media screen and (max-width: 960px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */
/* and (max-width: 960px) */

/* @media screen and (max-width: 960px)  { */
  /* @media (min-width: 576px)  and (max-width: 960px) { */
/* @media screen and (max-width: 600px) and (max-width: 1023px) { */
@media all and (max-width: 699px) and (min-width: 520px), (max-width: 1151px) {
  header .navbar-brand,
  /* header .container, */
  #newsletter h1,
  #newsletter form,
  #main .box,
  aside#sidebar {
    float:none;
    text-align:center;
    width:100%;
  }
  
  header .container li {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   }

  header {
    padding-bottom:20px;
    border-bottom-style: hidden;
  }
/* 
  .navbar-expand-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  } */

  .navbar-expand-sm .container {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .navbar-expand-sm .container ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #060027;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }
  .checkbtn {
    display: block;
    /* margin-right: 40px; */
  }
  .container ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .container ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .container ul li a{
    font-size: 20px;
  }

  #check:checked ~ ul{
    left: 0;
  }
  /*
  .navbar-expand-sm .container ul .close span {
    font-size: 40px;
    display: inline-block;
    border: 1px solid #120122;
    padding: 0 10px;
    cursor: pointer;
  }

  .navbar-expand-sm .container ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  } */

  /* .navbar-expand-sm .container ul .close {
    display: block;
  }
  
  .navbar-expand-sm .container .icon-bar i {
    background-color: #0a0101;
    height: 5px;
  }

  .navbar-expand-sm .container .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-expand-sm .container ._Menus-show {
    left: 0;
  } */

  #showcase {
    margin-top: 45%;
  }

  #showcase h1{
    margin-top:40px;
  }
  #about h2 {
    /* text-align: left; */
    margin: 0 20% 0 2%;
  }
  #about .img-responsive {
    display: block;
    width: 60%;
    margin: 0 2% 5% 2%;
  }
  #sidebar .dark {
    float: none;
    display: -webkit-box;
    margin: 0 5% 2% 5%;
    width: 80%;
  }

  .row .my-img {
  display: -webkit-box;
  width: 100%;
  height: 100%;
  }

  .circle {
    width: 80%;
    margin: 2% 5% 10% 12%;
    height: fit-content;
  }

  #contact h1 {
    font-weight: bold;
    margin: 0 0 0 5%;
  }  

  #newsletter button {
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"] {
    width:100%;
    margin-bottom:5px;
  }

  /* .slideshow-container {
    width: 60%;
    height: 40%;
    display: block;
    margin: 5% 0 5% 20%;
  } */
  /* .slideshow-container {
    margin: auto;
    overflow-y: hidden;
    top: 0;
    z-index: 1;
  }
  .slideshow-container .mySlides fade {
  overflow-y: hidden;
  }
  .slideshow-container .prev, .next {
    overflow: hidden;
    display: none;
  } */
/* to include media query here */
  .footer .row .col-md {
    width: 50%;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    position: sticky;
    display: inline-block;
    text-align: left;
    overflow-y: hidden;
  }

}