.nav-item {
    border-top: 15px solid rgb(14, 67, 214);
    padding: 2px;
    margin: 0px auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(14, 67, 214);
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.img-responsive {
    width: 70%;
     margin-left: 15px;
     padding: 10px;
}

.meta-class {
    margin-left: 25px;
}

html {
	scroll-behavior: smooth;
}

.pp {
    color: rgb(3, 2, 2);
}


.text-5xl {
    scroll-behavior: auto;
    text-align: center;
    padding: 5px;
    color: rgba(23, 29, 1, 0.952);
}

h1 {
    text-transform:uppercase;
    padding-top: 10px;
    font-size:15px;letter-spacing:5px;
    color: rgb(236, 15, 137);

}

.nav a, .navbar-nav:hover{
    background:#000;color:#fff;color:#aaa;
}

body {
    background:rgb(248, 248, 244)
}



#div_top_hypers {
    background-color:#f0f5f7;
    display:inline;
    padding: 20px; 
}
ul#horizontal-list li{
    display: inline;
    padding-right: 5px;
    color: darkorchid;
    max-width: 2px;
    
}
ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

input[type=text] {
    margin-bottom:20px;
    width: 50%;
}
input[type=text], textarea{
    width:50%;
    box-sizing:border-box;
}
input[type=submit] {
    margin-left:200px;border:1px solid black;
    color:rgb(248, 245, 245);
    background:rgb(21, 21, 88);
    padding:5px;
    text-shadow:1px 1px 0px #000;
    font-size:20px;
    font-family:Centaur, serif;
    letter-spacing:2px;}

.container {
    text-align: center;
}
.contact {
    margin-left: 25px 
}

footer {
    border-start-end-radius:2px solid rgb(45, 2, 65);
    text-align:center;
    font-size:80%;
    padding:100px 0;
}