*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.my-img:hover {
  background-size: cover;
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  overflow: hidden;
  transition: transform .5s ease-in-out;
  /* transform: scale(1.5) rotate(360deg); */
}
.navbar-expand-sm {
  background: rgb(2, 2, 17);
  color: rgb(2, 2, 17);
}
.grad-bar {
  width: 100%;
  height: 8px;
  background: linear-gradient(-45deg, rgb(1, 11, 32), rgb(33, 1, 75), rgb(77, 74, 228), rgb(0, 3, 14));
  background-size: 400% 400%;
  	-webkit-animation: gradbar 5s ease infinite;
	-moz-animation: gradbar 5s ease infinite;
	animation: gradbar 5s ease infinite;
}

header {
  background: rgb(2, 2, 17);
  color: rgb(2, 2, 17);
  min-height:70px;
  /* border-bottom: 0.1rem solid #041d88; */
   border-bottom: 0.1rem solid #f4f4f4;
  overflow: hidden;
}
.navbar-brand, .nav-link {
  color: #ffffff;
  font-weight:bold;
}

.navbar-nav {
  color: #ffffff;
}

.navbar-brand .img-fluid {
  float: left;
  margin-right: 10px;
  width: 4.5rem;
  height: 3.5rem;
}
.navbar-expand-sm .navbar-nav {
  justify-content: flex-end;
}


.nav a:hover {
  background:rgb(10, 2, 117);
}
.navbar-expand-sm {
  display: flex;
  align-items: right;
  justify-content: space-between;
  font-size: 1rem;
}
.navbar-expand-sm  ul {
  float: right;
  display: flex;
}

.navbar-expand-sm  ul li a {
  padding-bottom: 2px;
}

.navbar-expand-sm  ul.navbar-nav {
  flex: 1;
}

.menu-btn {
  color: #f4f4f4;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}


.sticky {
  position: fixed;
  top: 0;
  width:100%;
}
.sticky + .row {
  padding-top: 100px;
}

.container {
  text-align: center;
  width:80%;
  margin:auto;
  overflow:hidden;
}

html {
	scroll-behavior: smooth;
}

#showcase{
  padding-top: 2rem;
  min-height:500px;
  background: url('../images/showcase.jpg') no-repeat 0 -500px;
  text-align:center;
  color: #ffffff;
  border: darkblue;
}

h6 {
  color: #000000;
  background-color: #f80202;
  text-align: center;
  font-size: 5em;
  font-weight: bolder;
}

#showcase h1 {
  text-transform:uppercase;
  margin-top:15%;
  font-size: 3.2rem;
  margin-bottom: 10px;
}

#showcase p{
  font-size:20px;
}

#about {
  color: #262626;
  margin: 5% 0 8% 0;
  list-style: none;
  scroll-snap-align: center;
}
#about h2 {
  display: inline-block;
  text-align: left;
  margin-left: 25%;
  text-transform:uppercase;
  padding: 10px 10px 10px 10px;
  font-size:25px;
  font-weight: bold;
  color:  #210177;
}
#about .img-responsive {
  float: left;
  width: 25%;
  margin: 0 0 2% 25% ;
  padding: 10px;
}
article #about-col{
  float:left;
  width:65%;
}
aside #sidebar {
  float:right;
  width:20%;
}

aside .dark {
  padding: 1rem;
  background:#35424a;
  color:#ffffff;
  margin:5% 25% 5% 50%;
}
aside .container {
  text-align: left;
  font: 1.5rem sans-serif;
  padding-left: 15%;
}

#main {
  margin-top:10px;
  background-color: rgb(247, 244, 250);
}

#main .page-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #210177;
}
#main h2 {
  color: #000;
}
#main .box{
  float:left;
  text-align: center;
  width:50%;
  padding:10px 5px 10px 2px;
}
#main .box:hover img {
    transform: scale(1.1);
}

#main p {
  font: 1.2em sans-serif;
}

#main .box img{
  width:80%;
  padding-bottom: 10px;
}


body {
  overflow-x: hidden;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.main {
  margin: 2% 0 2% 0;
  max-width: fit-content;
  background-color: #ffffff;
  background-image: url("../bg/back10.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main h2 {
  margin-top: 2%;
  text-align: center;
  font: 55px bold Verdana, Geneva, Tahoma, sans-serif;
  color:  #210177;
}
.main h3 {
  text-align: justify;
  font: 40px bold cursive lighter;
  color: rgb(70, 3, 114);
  margin: 2% 30% 2% 20%;
}
.main h3:hover {
  background: cornflowerblue;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row,
.row > .column {
  padding: 10px;
}
.column {
  width: 33.33%;
  padding: 5px;
  margin: 0 5% 0 5%;
  flex: 33.33%;
  display: inline-block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  display: inline-block;
  padding: 10px;
}
.row .my-img {
  width: 250px;
  height: 200px;
} 


#org {
  margin: 5% 0% 5% 0%;
  color: #000000;
  background-image: url("../images/organizations.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#org .clear {
  color: rgb(41, 5, 124);
  font: 20px Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#org h1 {
  text-align: left;
  margin: 2% 5% 2% 10%;
  font-size:40px;
  font-weight: bold;
}
#org ul {
  margin: 0 0 2% 2%;
}

.circle {
  background: url("../bg/back10.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #262626;
  color: rgb(0, 1, 3);
  border:10px solid rgb(87, 82, 90);    
  height:30rem;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:45rem;
  margin: 8% 20% 8% 20%;
  font-weight: bolder;
}

#achieve {
  margin: 12% 5% 1% 25%;
}
#achieve h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color:  #210177;
}

#contact h1 {
  /* color: #f4f4f4; */
  text-align: center;
  padding: 1% 0 1% 5%;
  font-weight: bold;
  font-size: 2rem;
}
#contact .contact {
  margin: 2% 5% 2% 5%;
  border-radius: 5px;
  background: url("../images/image29.jpg");
  padding: 20px;
}

label[for=name], [for=Message], [for=email] {
  color: #ffffff;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 0 20px 0;
  background-color: rgb(204, 194, 241);
  border: 1px solid rgb(10, 10, 10);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px 0 16px 0;
  resize: vertical;
}

input[type=submit] {
  background-color: #030680;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  /* background-color: #030680; */
  background-color: rgb(59, 2, 65);
}


#newsletter{
  margin: 2% 0 2% 0;
  padding:15px;
  color:#ffffff;
  background:#00070c
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
.button_1 {
  height:38px;
  background:#022150;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
.button_1:hover {
  background-color: navy;
}

/* Links */
.links {
  background:rgb(2, 2, 17);
  color: #ffffff;
  font-size: 18px;
  padding: 35px 0;
}

.links-inner {
  width: 100%;
  margin: 0 10% 0 5%;
  padding: 0 4.5rem 0 2.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.links li {
  line-height: 2.8;
}
/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

.footer {
  position: initial;
  font:80% bold Verdana, Geneva, sans-serif ;
  clear: both;
  padding: 1rem;
  width: 100%;
  background-color: rgb(2, 2, 17);
  text-align: center;
}
.footer h1 {
  color: #f4f4f4;
  font-size: 1.5rem;
}

.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  color: rgb(236, 235, 245);
  transition: all 0.3s ease;
}
.fa .Follow {
  text-align: left;
}
.fa-twitter {
  /* background: #ffffff; */
  color: #007bb5;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #007bb5;
}
.fa-instagram {
  background-color: inherit;
}
.fa-github {
  background-color: rgb(2, 0, 8);
  color: #ffffff;
}

.fa:hover {
    opacity: 0.7;
}
.footer2 {
  border-top: 1px solid rgb(255, 253, 253);
  padding-top: 1%;
}
.footer2 .white {
  color: rgb(253, 253, 253);
}

/* Media Queries */
/* @media screen and (max-width: 960px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */

/* @media all and (max-width: 699px) and (min-width: 520px), (max-width: 1151px) { */
@media screen and (max-width: 1024px) {
  #newsletter h1,
  #newsletter form,
  #main .box,
  aside #sidebar, .container {
    float:none;
    text-align:center;
    width:100%;
  }
  header .navbar-brand {
    width: 100%;
    float: left;
    text-align: left;
  }

  header {
    padding-bottom:10px;
    border-bottom-style: hidden;
  }

  #showcase {
    margin-top: 5%;
  }

  #showcase h1{
    /* font-size: inherit; */
    margin-top: 5rem;
  }
  #about h2 {
    margin: 0 20% 0 2%;
  }
  #about .img-responsive {
    display: block;
    width: 60%;
    margin: 0 2% 5% 2%;
  }
  #sidebar .dark {
    float: none;
    display: -webkit-box;
    margin: 0 10% 2% 5%;
    width: 50%;
  }
  
  .circle {
    width: 85%;
    margin: 5% 2% 10% 5%;
  }

  #contact h1 {
    text-align: center;
    font-weight: bold;
    margin: 0 0 0 5%;
  }  

  #newsletter button {
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"] {
    width:100%;
    margin-bottom:5px;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }

}


@media screen and (max-width: 600px) {
  .menu-btn {
    color: #f4f4f4;
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }
  
  .navbar-expand-sm  ul.navbar-nav {
    display: block;
    position: absolute;
    /* top: 80px;
    left: -100%; */
    top: 0;
    left: 0;
    background: #e5e4eb;
    width: 100%;
    height: 100vh;
    border-right: #f4f4f4 1px solid;
    opacity: 1.5;
    /* padding: 1rem; */
    transform: translate(100%, 10%);
    transition: all .5s;
    /* transform: translateX(-500px); */
    /* transition: transform 0.5s ease-in-out; */
  }

  .navbar-expand-sm  ul.navbar-nav li {
    line-height: 1em;
    height: 2.8em;
    padding: 2px;
    border-bottom: #f4f4f4 solid 1px;
    font-size: 0.5rem;
  }

  .navbar-expand-sm  ul.navbar-nav li:last-child {
    border-bottom: 0;
  }

  .navbar-expand-sm  ul.navbar-nav.show {
    transform: translateX(-20px);
  }

  #sidebar .container {
  text-align: left;
  font: 1rem sans-serif;
  padding-left: 5%;
  }


  .row .my-img {
  width: 100px;
  height: 80px;
  }

  .links {
    max-width: 100%;
    font-size: 12px;
    padding: 0 5% 0 2%;
  }
   .links h1 {
    font-size: 12px;
  } 

  .links .links-inner {
    margin: 0 .3rem 0 .2rem;
    padding: .5rem;
    display: grid;
    grid-gap: 5px;
    align-items: left;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
  .links li {
  line-height: 1.2;
  }
  .direct-contact-container{
    justify-content: center;
    max-width: 100%;
    font-size: 8px;
    padding: 3% 3% 0 15%;
  }
}