.nav-item {
    border-top: 15px solid rgb(14, 67, 214);
    padding: 2px;
    margin: 0px auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(14, 67, 214);
}
.nav a, .navbar-nav:hover{
    background:#000;color:#fff;color:#aaa;
}

.container {
    text-align: center;
}

{
  box-sizing: border-box;
}

.column {
  float: left;
  /* margin: 0.5% 0 1% 0.5%; */
  column-gap: 10px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: rgb(6, 61, 80);
}

.left {
  width: 25%;
}

.middle {
  width: 50%;
}

.right {
    width: 25%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#org {
    color: rgb(237, 245, 248);
}

.img-responsive {
    width: 70%;
     margin-left: 15px;
     padding: 10px;
}

.meta-class {
    margin-left: 25px;
}

#class {
    margin-left: 25px;
}

html {
	scroll-behavior: smooth;
}

.pp {
    color: rgb(255, 253, 253);
}


.text-5xl {
    scroll-behavior: auto;
    /* text-align: center; */
    margin-left: 60px;
    padding: 5px;
    color: rgba(247, 188, 235, 0.952);
}

h1 {
    text-transform:uppercase;
    padding-top: 10px;
    font-size:15px;letter-spacing:5px;
    color: rgb(236, 15, 137);

}

body {
    background:rgb(252, 252, 250);
    background-image: url('/home/net/MORYSO/JAVASCRPIT/my js/my_site/bg/image29.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(2px); */
    /* -webkit-filter: blur(2px); */
}

ul#horizontal-list li {
    /* display: grid; */
    padding-right: 5px;
    max-width: 2px;
    
}

ul#horizontal-list {
	min-width: 650px;
	list-style: none;
	padding-top: 20px;
}

.my-img {
    width: 250px;
    height: 200px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

input[type=text] {
    margin-bottom:20px;
    width: 50%;
}
input[type=text], textarea{
    width:50%;
    box-sizing:border-box;
}

input[type=submit] {
    margin-left:200px;border:1px solid black;
    color:rgb(248, 245, 245);
    background:rgb(21, 21, 88);
    padding:5px;
    text-shadow:1px 1px 0px #000;
    font-size:20px;
    font-family:Centaur, serif;
    letter-spacing:2px;
}

.contact {
    padding-top: 10px;
    /* margin-left: 25px  */
}
#cont{
    color: rgb(1, 1, 17);
}

.footer {
  position: initial;
  left: 0;
  font-size:80%;
  padding:10px 0;
  bottom: 0%;
  width: 100%;
  background-color: rgb(14, 10, 10);
  color: white;
  text-align: center;
}