*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.my-img:hover {
  background-size: cover;
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  overflow: hidden;
  transition: transform .5s ease-in-out;
  /* transform: scale(1.5) rotate(-60deg); */
}
.navbar-expand-sm {
  background: rgb(2, 2, 17);
  color: rgb(2, 2, 17);
}

.grad-bar {
  width: 100%;
  height: 8px;
  background: linear-gradient(-45deg, rgb(250, 251, 252), rgb(217, 194, 247), rgb(7, 5, 112), rgb(1, 1, 49));
  background-size: 400% 400%;
  -webkit-animation: gradbar 5s ease infinite;
	-moz-animation: gradbar 5s ease infinite;
	animation: gradbar 5s ease infinite;
}

header {
  background: rgb(2, 2, 17);
  color: rgb(2, 2, 17);
  min-height:70px;
  /* border-bottom: 0.1rem solid #041d88; */
   border-bottom: 0.1rem solid #f4f4f4;
  overflow: hidden;
}
.navbar-brand, .nav-link {
  color: #ffffff;
  font-weight:bold;
}

.navbar-nav {
  color: #ffffff;
}

.navbar-brand .img-fluid {
  float: left;
  margin-right: 1rem;
  width: 5.5rem;
  height: 4rem;
}
.navbar-expand-sm .navbar-nav {
  justify-content: flex-end;
}


.nav a:hover {
  background:rgb(10, 2, 117);
}
.navbar-expand-sm {
  display: flex;
  align-items: right;
  justify-content: space-between;
  font-size: 1rem;
}
.navbar-expand-sm  ul {
  float: right;
  display: flex;
}

.navbar-expand-sm  ul li a {
  padding-bottom: 2px;
}

.navbar-expand-sm  ul.navbar-nav {
  flex: 1;
}

.menu-btn {
  color: #f4f4f4;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}


.sticky {
  position: fixed;
  top: 0;
  width:100%;
}
.sticky + .row {
  padding-top: 100px;
}

.container {
  text-align: center;
  width:80%;
  margin:auto;
  overflow:hidden;
}

html {
	scroll-behavior: smooth;
}

#showcase{
  padding-top: 1rem;
  min-height: 50rem;
  background: url('../images/showcase.jpg') no-repeat ; /*0 -500px */
  text-align:center;
  color: #ffffff;
  border: rgb(243, 243, 248);
}

#showcase h1 {
  text-transform:uppercase;
  margin-top: 20rem;
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
}

#showcase p{
  font-size: 1.8rem;
}

#about {
  color: #262626;
  margin: 0% 0 20% 0;
  padding: 5% 0 5% 0;
  border-top: 1px solid #f4f4f4;
  /* border-bottom: 1px solid #f4f4f4; */
    /* Scroll Snap */
  scroll-snap-align: center;
}
#about h2 {
  text-align: left;
  margin-left: 25%;
  text-transform:uppercase;
  padding: 10px 10px 10px 10px;
  font-size: 2em;
  font-weight: bold;
  color:  #f4f4f4;
}
#about .img-responsive {
  float: left;
  width: 25%;
  margin: 0 0 2% 25% ;
  padding: 10px;
  border-radius: 50%;
}

#about .img-responsive:hover
{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

article #about-col{
  float: left;
  width:65%;
}
aside #sidebar {
  float:right;
  width:20%;
}

aside .dark {
  padding: 1rem;
  background:#35424a;
  color:#f4f4f4;
  margin:5% 25% 5% 50%;
}
#about .experience {
  margin-top: 12%;
  color: #f4f4f4;
  justify-content: center;
  text-align: center;
  /* padding-left: 15%; */
}

.services {
  background-color: #0f4675;
  margin-top: 1rem;
  text-align: center;
  color: #f4f4f4;
  font-size: 2.5em;
  font-weight: bold;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0f4675, #0f4675 50%,  #fff 50%, #fff 100%);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}


.container-services {
  width: 1100px;
  /* margin-top: 6rem; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.container-services .box {
  position: relative;
  width: 320px;
  background: #fff;
  padding: 100px 40px 60px;
  box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.container-services .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #ff226d; */
  background: #007bb5;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.container-services .box:hover::before{
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.container-services .box h2 {
  position: absolute;
  left: 40px;
  top: 20px;
  font-size: 2em;
  font-weight: bold;
  z-index: 1;
  /* opacity: 0.5; */
  transition: 0.5s;
}
.container-services .box h2:hover {
  opacity: 1;
  color: #fff;
  transform: translateY(-20px);
}
.container-services .box p {
  position: relative;
  z-index: 2;
  color: #555;
  transition: 0.5s;
}
.container-services .box p:hover {
  opacity: 1;
  color: #fff;
}
/* #main {
  margin-top:10px;
  background-color: rgb(247, 244, 250);
}

#main .page-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #210177;
}
#main h2 {
  color: #000;
}
#main .box{
  float:left;
  text-align: center;
  width:50%;
  padding:10px 5px 10px 2px;
}
#main .box:hover img {
    transform: scale(1.1);
}

#main p {
  font: 1.2em sans-serif;
}

#main .box img{
  width:80%;
  padding-bottom: 10px;
} */


body {
  overflow-x: hidden;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  /* background-color:#f4f4f4; */
  background-color: rgb(2, 2, 17);
}

.main {
  margin: 2% 0 2% 0;
  width: 100%;;
}
.main h2 {
  margin-top: 2%;
  text-align: center;
  font-size:  2.5em;
  font-weight: bolder;
  color:  #f4f4f4;
}
.main h3 {
  text-align: justify;
  font: 2em bold cursive lighter;
  color: rgb(4, 7, 163);
  margin: 2% 30% 2% 20%;
}
.main h3:hover {
  background: #ffffff;
  transform: translateY(-1.5rem);
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row,
.row > .column {
  padding: 10px;
}
.column {
  /* width: 33.33%; */
  width: 25%;
  padding: 5px;
  margin: 0 5% 0 5%;
  flex: 33.33%;
  display: inline-block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  display: inline-block;
  padding: 10px;
}
.row .my-img {
  width: 16rem;
  height: 13rem;
} 


#org {
  margin: 5% 0% 5% 0%;
  color: #000000;
  background-image: url("../images/organizations.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#org .clear {
  color: rgb(41, 5, 124);
  font: 20px Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#org h1 {
  text-align: left;
  margin: 2% 5% 2% 10%;
  font-size:40px;
  font-weight: bold;
}
#org ul {
  margin: 0 0 2% 2%;
}
#org ul li a:hover {
  background: #01001b;
  transform: translateY(-1.5rem);
}

.circle {
  background: url("../bg/back10.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #262626;
  color: rgb(0, 1, 3);
  border:10px solid rgb(87, 82, 90);    
  height:30rem;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:45rem;
  margin: 8% 20% 8% 20%;
  font-weight: bolder;
}

#achieve {
  margin: 12% 5% 1% 25%;
}
#achieve h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color:  #210177;
}
#achieve ul li a:hover {
  background: #01001b;
  transform: translateY(-1.5rem);
}

#contact h1 {
  color: #f4f4f4;
  text-align: center;
  padding: 1% 0 1% 5%;
  font-weight: bold;
  font-size: 2em;
}
#contact .contact {
  margin: 2% 5% 2% 5%;
  border-radius: 5px;
  background: url("../images/image29.jpg");
  padding: 20px;
}

label[for=name], [for=Message], [for=email] {
  color: #ffffff;
  float: left;
  font-size: .5em;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 0 20px 0;
  background-color: rgb(204, 194, 241);
  border: 1px solid rgb(10, 10, 10);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px 0 16px 0;
  resize: vertical;
}

input[type=submit] {
  background-color: #030680;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  /* background-color: #030680; */
  background-color: rgb(4, 1, 14);
}


#newsletter{
  margin: 2% 0 2% 0;
  padding:15px;
  color:#ffffff;
  background:#00070c;
  border-top: 1rem solid #fff;
  border-bottom: 1rem solid #fff;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
.button_1 {
  height:38px;
  background:#022150;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
.button_1:hover {
  background-color: navy;
}

/* Links */
.links {
  background:rgb(2, 2, 17);
  color: #ffffff;
  font-size: 1.2rem;
  padding: 35px 0;
  width: 100%;
  overflow: hidden;
}
.links-inner {
  width: 100%;
  margin: 0 1% 0 5%;
  /* padding: 0 2.5rem 0 1.5rem; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  /* text-align: left;
  float: left;  */
}

/* .links .col {
  width: 190px;
  height: auto;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
} */
.links-inner h1 {
  font-size: 1.2rem;
}

.links li {
  line-height: 2.8;
}
/* Location, Phone, Email Section */
.direct-contact-container {
  padding-top: 5%;
  justify-content: center;
}
.contact-list {
  list-style-type: none;
  /* margin-left: 3rem; */
  padding: 0 1rem 0 1rem;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 2rem 'Lato', sans-serif;
  letter-spacing: 2.0px;
  color: #bbb;
}

.place {
  margin-left: 1rem;
}

.phone {
  margin-left: 1rem;
}

.gmail {
  margin-left: 1rem;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  opacity: 5;
  text-decoration: none;
}

.footer {
  position: initial;
  font:80% bold Verdana, Geneva, sans-serif ;
  clear: both;
  padding: 1rem;
  width: 100%;
  background-color: rgb(2, 2, 17);
  text-align: center;
}
.footer h1 {
  color: #f4f4f4;
  font-size: 1.5rem;
}

.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  color: rgb(236, 235, 245);
  transition: all 0.3s ease;
}
.fa .Follow {
  text-align: left;
}
.fa-twitter {
  /* background: #ffffff; */
  color: #007bb5;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #007bb5;
}
.fa-instagram {
  background-color: inherit;
}
.fa-github {
  background-color: rgb(2, 0, 8);
  color: #ffffff;
}

.fa:hover {
    opacity: 0.7;
}
.footer2 {
  border-top: 1px solid rgb(255, 253, 253);
  padding-top: 1%;
}
.footer2 .white {
  color: rgb(253, 253, 253);
}

/* Media Queries */
/* @media screen and (max-width: 960px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */

/* @media all and (max-width: 699px) and (min-width: 520px), (max-width: 1151px) { */
@media screen and (max-width: 1024px) { 
  #newsletter h1,
  #newsletter form,
  /* #main .box, */
  #about .experience,
  aside #sidebar {
    float:none;
    text-align:center;
    width:100%;
  }
  header .navbar-brand {
    width: 100%;
    float: left;
    text-align: left;
  }

  header {
    padding-bottom:10px;
    border-bottom-style: hidden;
  }

  #showcase {
    margin-top: 5%;
  }

  #showcase h1{
    /* font-size: inherit; */
    margin-top: 5rem;
  }
  #about h2 {
    margin: 0 20% 0 2%;
  }
  #about .img-responsive {
    display: block;
    width: 60%;
    margin: 0 2% 5% 2%;
  }
  #sidebar .dark {
    float: none;
    display: -webkit-box;
    margin: 0 10% 2% 5%;
    width: 50%;
  }
  #main {
    width: 100%;
    height: 50%;
  }

  #contact h1 {
    text-align: center;
    font-weight: bold;
    margin: 0 0 0 5%;
  }  

  #newsletter button {
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"] {
    width:100%;
    margin-bottom:5px;
  }

  .links-inner {
    width: 1000px;
    display: grid;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (max-width: 950px) {
  .links .links-inner {
    width: 50%;
  }
   #about .experience {
    margin-top: 3%;
    float: left;
    text-align: left;
    font: 1rem sans-serif;
    padding-left: 5%;
    margin-bottom: 3%;
  }
} 


@media screen and (min-width: 380px)  and (max-width: 600px) {
  .menu-btn {
    color: #f4f4f4;
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }
  
  .navbar-expand-sm  ul.navbar-nav {
    display: block;
    position: absolute;
    /* top: 80px;
    left: -100%; */
    top: 0;
    left: 0;
    background: #e5e4eb;
    width: 100%;
    height: 100vh;
    border-right: #f4f4f4 1px solid;
    opacity: 1.5;
    /* padding: 1rem; */
    transform: translate(100%, 10%);
    transition: all .5s;
    /* transform: translateX(-500px); */
    /* transition: transform 0.5s ease-in-out; */
  }

  .navbar-expand-sm  ul.navbar-nav li {
    line-height: 1em;
    height: 2.8em;
    padding: 2px;
    border-bottom: #f4f4f4 solid 1px;
    font-size: 0.5rem;
  }

  .navbar-expand-sm  ul.navbar-nav li:last-child {
    border-bottom: 0;
  }

  .navbar-expand-sm  ul.navbar-nav.show {
    transform: translateX(-20px);
  }

  #about .experience {
    float: left;
    font: 1rem sans-serif;
    padding-left: 5%;
  }

  #main {
    display: flex;
    background: linear-gradient(#0f4675, #0f4675 50%,  #fff 35%, #fff 35%);
    width: 100%;
    min-height: 70vh;
    overflow: hidden;
  }

  .container-services {
    width: 100%;
    display: inline-flex;
    float: left;
    margin: 0 5% 0 5%;
  }
  .container-services .box {
    /* position: absolute; */
    width: 130px;
    height: 40vh;
    background: #fff;
    padding: 20px 20px 10px;
    box-shadow: 0 8px 25px rgba(0,0,0,.1);
  }

  .container-services .box h2 {
    position: absolute;
    left: 20px;
    top: 2px;
    font-size: .8em;
    font-weight: bold;
    z-index: 1;
    /* opacity: 0.5; */
    transition: 0.5s;
  }    

  .container-services .box p {
    margin-top: 10%;
    font-size: 0.5em;
  }


  .row .my-img {
    width: 100px;
    height: 80px;
  }

  .circle {
    width: 85%;
    margin: 5% 2% 10% 1%;
  }

  .links {
    width: 100%;
    font-size: 12px;
    padding: 0 2% 0 3%;
  }
   .links h1 {
    font-size: 12px;
  } 

  .links .links-inner {
    width: 50%;
    margin: 0 5rem 0 6rem;
    padding: 1rem 5rem 1rem 6rem;
    display: grid;
    grid-gap: 5.5rem;
    float: none;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
  .links li {
    line-height: 1.9;
  }
  .direct-contact-container{
    display: block;
    float: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: .5rem;
    /* padding: 3% 3% 0 8%; */
  }
  .direct-contact-container .contact-text {
    font: 300 1rem 'Lato', sans-serif;
    letter-spacing: .8px;
    color: #bbb;
  }
}
@media only screen and (max-width: 340px) {
  .links .links-inner {
    width: 100%;
  }
}